<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div id="sfondo-verde"></div>
    <div id="sfondo-grigio"></div>

    <div id="root" class="contenitore">
        <div id="contenitore-contatti">
            <div class="profilo utente">
                <div class="sx">
                    <img src="img/avatar_io.jpg" alt="Immagine profilo utente">
                    <span>Elena</span>
                </div>

                <div class="dx">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>  
            </div>

            <div id="attiva-notifiche">
                <div>
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div>
                    <div>Ricevi notifiche di nuovi utenti</div>
                    <div class="attiva">Attiva notifiche desktop</div>
                </div>
                
            </div>

            <div id="cerca-chat">
                <div class="contenuti">
                    <i class="fas fa-search"></i>
                    <input type="text" v-model="contattoCercato" placeholder="Cerca o inizia una nuova chat">
                </div>
            </div>

            <div id="elenco-contatti">
                <div v-for="(conversazione, i) in contatti" v-if="contattoCercato === '' || conversazione.nome.toLowerCase().startsWith(stringaDaCercare())" class="contatto" :class="conversazioneAttiva === i ? 'attivo' : ''" @click="cambiaConversazioneAttiva(i)" :key="i">
                    <div class="sx">
                        <img :src="conversazione.imgProfilo" :alt="conversazione.nome">
                        <div>
                            <div class="nome-contatto">{{conversazione.nome}}</div>
                            <div class="ultimo-messaggio">{{conversazione.messaggi[conversazione.messaggi.length - 1].testo}}</div>
                        </div>
                    </div>
                    <div class="dx">
                        <div class="data-ora">{{conversazione.messaggi[conversazione.messaggi.length - 1].data}}</div>
                    </div>
                </div>
                
            </div>
        </div>

        <div id="contenitore-chat">

            <div class="profilo destinatario">
                <div class="sx">
                    <img :src="contatti[conversazioneAttiva].imgProfilo" :alt="contatti[conversazioneAttiva].nome">
                    <div>
                        <div class="nome-destinatario">{{contatti[conversazioneAttiva].nome}}</div>
                        <div class="ultimo-accesso">Ultimo accesso {{contatti[conversazioneAttiva].messaggi[contatti[conversazioneAttiva].messaggi.length - 1].data}}</div>
                    </div>
                </div>
            
                <div class="dx">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <div id="contenitore-messaggi">
                <div v-for="(msg, i) in contatti[conversazioneAttiva].messaggi" class="riga-messaggio" :class="msg.stato">
                    <div class="messaggio">
                        <p>{{msg.testo}}</p>
                        <div class="data-ora">{{msg.data}}</div>
                    </div>
                </div>
            </div>

            <div id="scrivi-messaggio">
                <div class="scegli-emoji">
                    <i class="far fa-smile"></i>
                </div>
                <div class="nuovo-messaggio">
                    <input type="text" v-model="nuovoMessaggio" @keyup.enter="pubblicaNuovoMessaggio" placeholder="Scrivi un messaggio">
                </div>
                <div class="microfono">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>